html
	head
		title Login
	body
		block content
			div.login
				form(action='/login', method='POST')
					input(type='email' placeholder='Email' name='email', required, autofocus)
					input(type='password' placeholder='Senha' name='password', required)
					button(type='submit') Login
			div.signup
				a(href='/signup') Criar conta
				
				a(href='teste') Teste

			#message
			if(message)
				h1 #{message}
